.list-view {
  -fx-text-decoration: none;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.list-cell {
     -fx-font-size: 16.75px;
     -fx-background-color: #e0e0e0;
     -fx-text-fill: #000;
 }

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}